# Pengaturan Database (Digunakan oleh docker-compose.yml)
PG_USER=postgres
PG_PASSWORD=kurmon_db_password_kuat_123!
PG_DATABASE=school_system_db

# Jika ada API Key lain atau pengaturan R2, letakkan di bawah ini
# VITE_...
